<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>searchmeow</title>

    <!-- Bootstrap core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="cover.css" rel="stylesheet">

    <!-- CSS- stylesheet path won't respond...quick hack, sorry. -->

<style type="text/css">

body {
    background-image: url("http://i.imgur.com/hGoJew4.png");
    background-color: #cccccc;
}

a,
a:focus,
a:hover {
  color: #fff;
}

.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritence from `body` */
  background-color: #fff;
  border: 1px solid #fff;
}


h1 {
    color: white;
}

h2 {
    color: white;
}

</style>



  </head>

  <body>

    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">
              <!-- Navigation Bar -->
              <div class="container">
                <h1 class="masthead-brand">searchmeow.</h1>
              <div id="navbar" class="collapse navbar-collapse">
                  <ul class="nav navbar-nav navbar-right">
                      <li class="active"><a href="/">Home</a></li>
                      <li><a href="/login">Login</a></li>
                      <li><a href="/logout">Log Out</a></li>
                      <li><a href="/signup">Sign Up</a></li>
                 </ul>
            </div> <!-- End of Navigation Bar -->
             

         <center> <div class="inner cover">
            <h2 class="cover-heading" c;>Nightclubs, just for you.</h2>
            <p class="lead">searchmeow finds nightclubs for women who like women. Live, local, and lovely- search now and party <b>tonight.</b></p>

                    <form class="form-signin" role="form" action="/search" method="GET">
                    <label for="city" class="sr-only">City</label>
                    <input type="text" id="city" class="input-xxlarge search-query" name="city" placeholder="Enter City" required autofocus>
                    <br/><br/>

                    <p class="lead">
                    <button class="btn btn-lg btn-default" type="submit">Search Now</button>
                   </p>
                 </form></center>
            
          </div>

        </div>

      </div>

    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="http://getbootstrap.com/dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="http://getbootstrap.com/assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>

