<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>searchmeow</title>
	<link rel="stylesheet" href="../stylesheets/main.css">
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	 <!-- Custom styles for this template -->
    <link href="/stylesheets/signin.css" rel="stylesheet">
</head>
<body>


<!-- Navigation Bar -->
<div class="container">
<div id="navbar" class="collapse navbar-collapse">
  	<ul class="nav navbar-nav">
    	<li class="active"><a href="/">Home</a></li>
	</ul>
	<ul class="nav navbar-nav navbar-right">
    	<li><a href="/login">Login</a></li>
    	<li><a href="/logout">Log Out</a></li>
    	<li><a href="/signup">Sign Up</a></li>
 	 </ul>
</div> <!-- End of Navigation Bar -->

<!-- Start of Form -->
<div class="row">
		<h2 class="find_header">Search for places:</h2>
      	<form class="form-signin" role="form" action="/search" method="GET">
        <label for="city" class="sr-only">City</label>
        <input type="text" id="city" class="form-control" name="city" placeholder="Enter City" required autofocus>
        <br>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Search Now</button>
      </form>
</div>
<!-- End of Form -->




</div><!-- End of Container -->
</body>
</html>